div{
    height: 100px;
    width:100px;
    background-color: aqua;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
.para{
    color:blueviolet;
    font-size: 30px;
}
.newClass{
    background-color: red;
}